[run]
source = server

omit =
    tests/*
    env/*
    .pytest_cache/*
    __pycache__/*
    .git/*
    *.json
    *.md
    .DS_Store
    locustfile.py

[report]
# Exclure les lignes spécifiques du rapport de couverture
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    # Ajoutez d'autres motifs d'exclusion si nécessaire 